
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    
}
.lgbg{
  height:485px;
  width: 300px;
  background-color: #222121;
  border-radius: 14px;
  margin-top:170px;
  margin-left: 570px;
}
.lgbg2{
height:670px;
width: 300px;
background-color: #222121;
border-radius: 14px;
margin-top:65px;
margin-left: 570px;
}
  
.usr{
    height: 100px;
    width: 100px;
    margin-top: 2px;
    margin-left: 100px;
}
.clos{
    height: 30px;
    width: 30px;
    font-size: 2rem;
    text-decoration: none;
    color: orange;
}
.back{
    padding-top:15px;
    margin-left: 250px;
    justify-content: end;
}
.tex{
    background-color: #222121;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    outline: none;
}
.passw{
    background-color: #222121;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    outline: none;
    
}
.box{
    margin-left: 70px;
    padding-top: 37px;
}
.sub{
    background-color: orange;
    color: white;
    border: none;
    padding:5px 20px;
    border-radius: 6px;
    margin-left: 35px;
    margin-top: 10px;
}
.sub:hover{
    color: black;
}
.subreg{
    /* padding:5px 20px; */
    margin-left: -22px;
    margin-top: 25px;
    color: gray;
}
.subreg a{
    color: orange;
    font-size: 0.9rem;
    text-decoration: none;
}
.subreg a:hover{
    color:gray;
}

.reg{
    background-color: orange;
    color: white;
    border: none;
    padding:5px 20px;
    border-radius: 6px;
    margin-left: 35px;
    margin-top: 10px;
}
.reg:hover{
    color:black;
}
.chk1   {
    color:red;
}

/* other */




.container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
    color: white;
    margin-left: -22px;
  }
  
  .container .label {
    font-size: 15px;
    padding-left: 10px;
    position: absolute;
    top: 13px;
    transition: 0.3s;
    pointer-events: none;
    color: gray;
  }
  
  .input {
    width: 200px;
    height: 40px;
    border: none;
    outline: none;
    padding: 0px 7px;
    border-radius: 6px;
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
  .input:focus {
    border: 2px solid transparent;
    color: #fff;
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }
  
  .container .input:valid ~ .label,
  .container .input:focus ~ .label {
    transition: 0.3s;
    padding-left: 2px;
    transform: translateY(-35px);
  }
  
  .container .input:valid,
  .container .input:focus {
    box-shadow: 3px 3px 10px rgba(0,0,0,1),
    -1px -1px 6px rgba(255, 255, 255, 0.4),
    inset 3px 3px 10px rgba(0,0,0,1),
    inset -1px -1px 6px rgba(255, 255, 255, 0.4);
  }

/* button */

button {
    position: relative;
    padding: 5px 32px;
    background:#222121;
    font-size: 17px;
    font-weight: 500;
    color: gray;
    border: 1px solid gray;
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all .3s ease-in-out;
    margin-left:23px;
  }
  
  .star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
  }
  
  .star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
  }
  
  .star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s ease;
  }
  
  button:hover {
    background: transparent;
    color: #FEC195;
    box-shadow: 0 0 25px #fec1958c;
    cursor: pointer;
  }
  
  button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
  }
  
  .fil0 {
    fill: #FFFDEF
  }

